@model DotNet.Models.Concert

@{
    ViewData["Title"] = "Supprimer le Concert";
}

<h1>Supprimer le Concert</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce concert ?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Artiste)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Artiste)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Date)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Date)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.HeureDebut)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.HeureDebut)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Lieu)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Lieu)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </form>
</div>